Repository hyperledger-labs/minbft, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhoriguchi, @ynamiki, @sergefdrv

.github/CODEOWNERS:

#
# SPDX-License-Identifier: Apache-2.0
#

* @nhoriguchi @ynamiki

/api/ @sergefdrv @nhoriguchi
/client/ @sergefdrv @nhoriguchi
/core/ @sergefdrv @nhoriguchi
/messages/ @sergefdrv @nhoriguchi
/sample/ @sergefdrv @nhoriguchi
/usig/ @sergefdrv @nhoriguchi

Add an LGTM.com badge in the README
  README.md
Owners: @nhoriguchi, @ynamiki

messages: Make message testing implementation-independent
  .golangci.yml
  messages/protobuf/testing_test.go
  messages/testing/commit.go
  messages/testing/hello.go
  messages/testing/new-view.go
  messages/testing/prepare.go
  messages/testing/reply.go
  messages/testing/req-view-change.go
  messages/testing/request.go
  messages/testing/testing.go
  messages/testing/testutils.go
  messages/testing/view-change.go
Owners: @nhoriguchi, @ynamiki, @sergefdrv

core: Unify embedded message handling
  core/commit.go
  core/commit_test.go
  core/message-handling.go
  core/message-handling_test.go
  core/prepare.go
  core/prepare_test.go
Owners: @sergefdrv, @nhoriguchi

core: Unify verification of messages certified by USIG
  core/commit.go
  core/commit_test.go
  core/message-handling.go
  core/message-handling_test.go
  core/prepare.go
  core/prepare_test.go
Owners: @sergefdrv, @nhoriguchi

core: Implement ViewChange message processing
  core/message-handling.go
  core/message-handling_test.go
  core/view-change.go
  core/view-change_test.go
Owners: @sergefdrv, @nhoriguchi

core: Implement ViewChange message validation
  core/message-handling.go
  core/message-handling_test.go
  core/view-change.go
  core/view-change_test.go
Owners: @sergefdrv, @nhoriguchi

core: Define view-change certificate size explicitly
  core/message-handling.go
  core/req-view-change.go
  core/req-view-change_test.go
Owners: @sergefdrv, @nhoriguchi

core/internal/clientstate: Transform Provider into interface
  core/internal/clientstate/client-state.go
  core/internal/clientstate/client-state_test.go
  core/internal/clientstate/mocks/generate.go
  core/internal/clientstate/mocks/mock.go
  core/message-handling.go
  core/message-handling_test.go
  core/request.go
  core/request_test.go
Owners: @sergefdrv, @nhoriguchi

core/internal/clientstate: Avoid repetitive option processing
  core/internal/clientstate/client-state.go
  core/internal/clientstate/reply_test.go
  core/internal/clientstate/request-seq_test.go
  core/internal/clientstate/timeout_test.go
Owners: @sergefdrv, @nhoriguchi

core/internal/clientstate: Add Clients method to Provider
  core/internal/clientstate/client-state.go
  core/internal/clientstate/mocks/mock.go
Owners: @sergefdrv, @nhoriguchi

core/internal/clientstate: Add UnprepareRequestSeq method to State
  core/internal/clientstate/client-state.go
  core/internal/clientstate/mocks/mock.go
  core/internal/clientstate/request-seq.go
  core/internal/clientstate/request-seq_test.go
Owners: @sergefdrv, @nhoriguchi

core: Apply only messages referring to the current active view
  core/commit.go
  core/commit_test.go
  core/message-handling.go
  core/message-handling_test.go
  core/prepare.go
  core/prepare_test.go
Owners: @sergefdrv, @nhoriguchi

sample/authentication: Allow capturing USIG identity from any UI
  sample/authentication/crypto.go
Owners: @sergefdrv, @nhoriguchi

core: Un-prepare request identifiers upon starting view change
  core/message-handling.go
  core/req-view-change.go
  core/req-view-change_test.go
  core/request.go
  core/request_test.go
Owners: @sergefdrv, @nhoriguchi

core: Avoid race between view change and adding pending requests
  core/request.go
  core/request_test.go
Owners: @sergefdrv, @nhoriguchi

core/internal/requestlist: Remove only matching requests
  core/internal/requestlist/mocks/mock.go
  core/internal/requestlist/request-list.go
  core/internal/requestlist/request-list_test.go
  core/request.go
  core/request_test.go
Owners: @sergefdrv, @nhoriguchi

core/internal/clientstate: Ignore old messages passed to AddReply
  core/internal/clientstate/client-state.go
  core/internal/clientstate/mocks/mock.go
  core/internal/clientstate/reply.go
  core/internal/clientstate/reply_test.go
  core/message-handling.go
  core/message-handling_test.go
Owners: @sergefdrv, @nhoriguchi

core/internal/viewstate: Return expected view from AdvanceCurrentView
  core/internal/viewstate/mocks/mock.go
  core/internal/viewstate/view-state.go
  core/internal/viewstate/view-state_test.go
Owners: @sergefdrv, @nhoriguchi

core: Implement NewView message processing
  core/message-handling.go
  core/message-handling_test.go
  core/new-view.go
  core/new-view_test.go
Owners: @sergefdrv, @nhoriguchi

core: Implement NewView message validation
  core/message-handling.go
  core/message-handling_test.go
  core/new-view.go
  core/new-view_test.go
Owners: @sergefdrv, @nhoriguchi

core: Support NewView message as commitment proposal
  core/commit.go
  core/commit_test.go
  core/message-handling.go
  core/new-view.go
  core/request.go
  core/request_test.go
Owners: @sergefdrv, @nhoriguchi

core: Add missing unit-test for makeNewViewAcceptor
  core/new-view_test.go
Owners: @sergefdrv, @nhoriguchi

core/internal: Introduce back-off timer
  core/internal/backofftimer/timer.go
  core/internal/backofftimer/timer_test.go
Owners: @sergefdrv, @nhoriguchi

core: Implement view-change timeout handling
  core/message-handling.go
  core/new-view.go
  core/new-view_test.go
  core/req-view-change.go
  core/req-view-change_test.go
  core/timeout.go
Owners: @sergefdrv, @nhoriguchi

core: Handle messages embedded into own generated messages
  core/message-handling.go
  core/message-handling_test.go
Owners: @sergefdrv, @nhoriguchi

core: Complete view change when applying NewView message
  core/message-handling.go
  core/new-view.go
  core/new-view_test.go
Owners: @sergefdrv, @nhoriguchi

core: Maintain pending request list and request identifiers together
  core/message-handling.go
  core/new-view.go
  core/new-view_test.go
  core/prepare.go
  core/prepare_test.go
  core/req-view-change.go
  core/req-view-change_test.go
  core/request.go
  core/request_test.go
Owners: @sergefdrv, @nhoriguchi

core: Maintain separate pending and prepared request lists
  core/message-handling.go
  core/request.go
  core/request_test.go
Owners: @sergefdrv, @nhoriguchi

Add semi-automated view-change test script
  testing/suspend-resume.sh
Owners: @nhoriguchi, @ynamiki

core: Increase commit certificate size
  core/message-handling.go
Owners: @sergefdrv, @nhoriguchi
